@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: "Vazirmatn Variable", "Vazirmatn", Tahoma, sans-serif;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  direction: rtl;
  background: #fcfbf8;
  font-family: var(--default-font-family);
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}
