@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Vazirmatn Variable", "Vazirmatn", sans-serif;
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container span[dir="rtl"],
.main-container [dir="rtl"] {
  unicode-bidi: isolate;
}

input,
select,
textarea,
button {
  outline: 0;
}
